/*/////////////////////////////*/
/* CORPO DO SITE */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tela {
    display: none;
}

.tela.ativa {
    display: block;
}

/* BASE */

body {
    background-color: #100C0A;
    font-family: 'Manrope', sans-serif;
    color: #FFFFFF;
    width: 100%;
    overflow-x: hidden;
}


/* APLICAÇÃO */

.app {
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
}

/*/////////////////////////////*/
/* PÁGINA INICIAL */

/* HERO */

.hero {
    width: 100%;
    height: 379px;
    position: relative;
}


/* IMAGEM */

.banner-hero {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}


/* INFORMAÇÕES SOBRE A IMAGEM */

.info-hero {
    position: absolute;
    bottom: 20px;
    left: 28px;

    display: flex;
    flex-direction: column;

    z-index: 1;
}

.info-hero span {
    font-size: 10px;
    font-weight: 300;
    text-transform: uppercase;
}

.info-hero h1 {
    font-size: 28px;
    font-weight: 700;
}


/* BOTÃO */

.button-horario {
    width: 100%;

    display: flex;
    justify-content: center;
}

.button-horario button {
    width: 332px;
    height: 48px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FFFFFF;
    color: #100C0A;

    border: none;
    border-radius: 50px;

    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
}


/* INFORMAÇÕES */

.informacoes {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-top: 20px;
    margin-top: 50px;
    flex-direction: column;
    margin-bottom: 500px;


}


/* CARD DE HORÁRIOS */

.horarios-info {
    width: 332px;
    height: 166px;

    background-color: #1E1E1E;

    border: 1px solid #87827D;
    border-radius: 8px;

    padding: 16px;

    display: flex;
    flex-direction: column;
}


/* TÍTULO */

.horarios-info h3 {
    text-transform: uppercase;

    font-size: 10px;
    font-weight: 300;

    margin-bottom: 12px;
}


/* LISTA DE HORÁRIOS */

.horarios {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


/* CADA LINHA */

.horario {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* TEXTOS */

.horario span {
    font-size: 10px;
    font-weight: 300;
}

.horarios-info {
    width: 332px;
    height: 166px;

    background-color: #1E1E1E;

    border: 1px solid #87827D;
    border-radius: 8px;

    padding: 16px;

    display: flex;
    flex-direction: column;
}


.telefone-info {
    width: 332px;
    height: 60px;
    margin-top: 12px;

    background-color: #1E1E1E;

    border: 1px solid #87827D;
    border-radius: 8px;

    padding: 16px;

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.telefone-info h3 {
    text-transform: uppercase;

    font-size: 10px;
    font-weight: 300;

}

.telefone-info span {
    font-size: 10px;
    font-weight: 300;
    text-decoration: none;
    color: #FFFFFF;
}

.adress {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.adress-info {
    width: 332px;
    height: 60px;
    margin-top: 12px;

    background-color: #1E1E1E;

    border: 1px solid #87827D;
    border-radius: 8px;

    padding: 16px;

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.adress-info h3 {
    text-transform: uppercase;

    font-size: 10px;
    font-weight: 300;

}

.adress-info span {
    font-size: 10px;
    font-weight: 300;
}

/*/////////////////////////////*/

/* TELA BARBEIROS*/

.tela-barbeiros {
    width: 100%;
    min-height: 100vh;
}


.btn-voltar {
    width: 50px;
    height: 50px;
    flex-shrink: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;

    border: 1px solid #87827D;
    border-radius: 50%;

    cursor: pointer;
}

.btn-voltar img {
    width: 24px;
    height: 24px;
}

.header {
    width: 100%;

    display: flex;
    align-items: center;

    gap: 16px;
    padding: 20px;
}

.header-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.header-info h2 {
    font-size: 16px;
    font-weight: 700;
}

.header-info span {
    font-size: 10px;
    font-weight: 300;
    color: #87827D;
}

.progresso {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
}

.etapa {
    width: 62px;
    height: 4px;

    background-color: #87827D;
    border-radius: 10px;
}

.etapa.ativa {
    background-color: #E8B33E;
}

.barbeiros {
    width: 332px;
    margin: 30px auto 0;
}

.barbeiro {
    width: 100%;
    min-height: 64px;

    display: flex;
    align-items: center;

    gap: 16px;

    cursor: pointer;
}   

.barbeiro h3 {
    flex: 1;

    font-size: 16px;
    font-weight: 600;
}

.foto {
    width: 64px;
    height: 64px;

    border-radius: 50%;
    overflow: hidden;

    background-color: #87827D;
    flex-shrink: 0;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.chevron {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.linha {
    width: 100%;
    height: 1px;
    margin-top: 16px;
    background-color: #87827D;
    margin-bottom: 16px;
}

/*/////////////////////////////*/
/* TELA SERVICOS */

.tela-servicos {
    width: 100%;
    min-height: 100vh;
}

.servicos {
    width: 332px;
    margin: 30px auto 0;
}

.servico {
    width: 100%;
    min-height: 64px;

    display: flex;
    align-items: center;
    gap: 16px;

    cursor: pointer;
}

.servico-info {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

.servico-info h3 {
    font-size: 16px;
    font-weight: 600;
}

.servico-info span {
    font-size: 12px;
    font-weight: 300;
    color: #87827D;
}

.foto {
    width: 64px;
    height: 64px;

    border-radius: 50%;
    overflow: hidden;

    background-color: #87827D;
    flex-shrink: 0;
}

.foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.circle {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
}

.linha {
    width: 100%;
    height: 1px;
    background-color: #87827D;

    margin: 16px 0;
}

.area-proximo {
    position: fixed;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);

    width: 332px;
}   

#btn-proximo {
    width: 100%;
    height: 48px;

    display: none;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50px;

    background-color: #FFFFFF;
    color: #100C0A;

    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
}

/*//////////////////////////////////*/

/*TELA DATA*/


.calendario {
    width: 332px;
    margin: 30px auto 0;

    padding: 20px;

    border: 1px solid #87827D;
    border-radius: 12px;

    background-color: #1E1E1E;
}

.calendario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
}

.calendario-header h3 {
    font-size: 14px;
    font-weight: 600;
}

.mes-btn {
    width: 32px;
    height: 32px;

    background: transparent;
    color: #FFFFFF;

    border: none;

    font-size: 24px;
    cursor: pointer;
}

.dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    margin-bottom: 12px;
}

.dias-semana span {
    text-align: center;

    font-size: 9px;
    font-weight: 400;

    color: #87827D;
}

.dias {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    gap: 6px;
}

.dia {
    aspect-ratio: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background: transparent;
    color: #FFFFFF;

    border: none;
    border-radius: 50%;

    font-family: 'Manrope', sans-serif;
    font-size: 11px;

    cursor: pointer;
}

.dia:hover {
    background-color: #2E2A27;
}

.dia.selecionado {
    background-color: #E8B33E;
    color: #100C0A;
    font-weight: 700;
}

.dia.desativado {
    color: #54504D;
    cursor: default;
}

#btn-proximo-data {
    width: 100%;
    height: 48px;

    display: none;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50px;

    background-color: #FFFFFF;
    color: #100C0A;

    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
}

/*/////////////////*/
/*TELA HORA*/

.horarios-disponiveis {
    width: 332px;
    margin: 30px auto 0;

    display: flex;
    flex-direction: column;
}

.horario-btn {
    width: 100%;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: transparent;
    color: #FFFFFF;

    border: none;

    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}

/* linha entre os horários */

.horario-btn:not(:last-child) {
    border-bottom: 1px solid #87827D;
}

/* círculo */

.horario-circle {
    width: 20px;
    height: 20px;

    flex-shrink: 0;
}


#btn-proximo-horario {
    width: 100%;
    height: 48px;

    display: none;
    justify-content: center;
    align-items: center;

    border: none;
    border-radius: 50px;

    background-color: #FFFFFF;
    color: #100C0A;

    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
}

/*//////////////////////////////////*/
/* TELA CONFIRMAÇÃO */

.confirmacao-conteudo {
    width: 332px;
    margin: 24px auto 100px;

    display: flex;
    flex-direction: column;
    gap: 14px;
}

.confirmacao-conteudo > h3 {
    font-size: 14px;
    font-weight: 700;

    margin-top: 8px;
}


/* CARD DADOS */

.card-dados {
    width: 100%;

    padding: 16px;

    display: flex;
    flex-direction: column;
    gap: 6px;


    border-radius: 12px;
    border: 1px solid 87827D;

    color: #FFFFFF;
}

.card-dados label {
    font-size: 10px;
    font-weight: 400;
    color: #87827D;
}

.card-dados input {
    width: 100%;
    height: 40px;

    padding: 0 12px;

    border: 1px solid #87827D;
    border-radius: 8px;

    background-color: transparent;

    font-family: 'Manrope', sans-serif;
    font-size: 12px;

    outline: none;
    color: #FFFFFF;
}

.card-dados input:focus {
    border-color: #E8B33E;
}


/* TELEFONE */

.telefone-campo {
    width: 100%;

    display: flex;
    gap: 8px;
}

.ddd-pais {
    width: 52px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #87827D;
    border-radius: 8px;
    color: #87827D;

    font-size: 12px;
}

.telefone-campo input {
    flex: 1;
    color: #FFFFFF;
}

.telefone-campo input label {
    flex: 1;
    color: #87827D;
}

/* RESUMO */

.card-resumo {
    width: 100%;

    padding: 16px;

    border-radius: 12px;

    color: #FFFFFF;
}

.resumo-bloco {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.resumo-label {
    font-size: 10px;
    color: #87827D;
}

.resumo-bloco strong {
    font-size: 12px;
}

.linha-resumo {
    width: 100%;
    height: 1px;

    margin: 10px 0;

    background-color: #87827D;
}


/* SERVIÇOS RESUMO */

.resumo-servico {
    display: flex;
    justify-content: space-between;

    font-size: 12px;

    margin-top: 4px;
}


/* TOTAL */

.resumo-total {
    display: flex;
    justify-content: space-between;

    font-size: 14px;

    margin-top: 4px;
}


/* OBSERVAÇÃO */

#observacao {
    width: 100%;
    height: 90px;

    padding: 14px;

    resize: none;

    border: 1px solid #87827D;
    border-radius: 12px;

    background-color: #100C0A;
    color: #FFFFFF;

    font-family: 'Manrope', sans-serif;
    font-size: 12px;

    outline: none;
}


/* BOTÃO FINAL */

.btn-agendar {
    width: 100%;
    height: 48px;

    margin-top: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #100C0A;
    background-color: #FFFFFF;

    border: none;
    border-radius: 50px;

    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 700;

    cursor: pointer;
}